.row{
    
 background-color: rgb(43 63 82);
 height: 50px;
}


.start{
    
    background-color: rgb(84, 187, 24);
    height:200px;
    
}
.portfolio{
   
    height: 50px;
    text-align: center;
    background-color: rgb(203, 206, 36);
}
.cards {
    margin: 10 auto;
    text-align: center;
    padding-left: 15%;
 
    ;
}
.card {

    vertical-align: middle;
    text-align: center;
    height: 250px;
    width: 250px;
    margin: 1% 1%;
    padding: 50px;
    background-color: rgb(122, 122, 121);
    border-radius: 10px;
}

.about{
    margin-right: 25px;
    margin-left: 25px;
    height:300px;
    background-color: lawngreen;
    text-align: center;
    
    }
.contact{
    height: 350px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: rgb(255, 255, 0);
    text-align: left;
}

.footer{
    height: 200px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: rgb(255, 60, 0);
    text-align: center;
}